.svg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.svg-icon-advantage1 {
    font-size:(100.9/10)*1rem;
    width:(115.6/100.9)*1em;
}
.svg-icon-advantage2 {
    font-size:(100.5/10)*1rem;
    width:(95.9/100.5)*1em;
}
.svg-icon-advantage3 {
    font-size:(98.7/10)*1rem;
    width:(108.1/98.7)*1em;
}
.svg-icon-advantage4 {
    font-size:(102.4/10)*1rem;
    width:(120.6/102.4)*1em;
}
.svg-icon-advantage5 {
    font-size:(96.6/10)*1rem;
    width:(89.7/96.6)*1em;
}
.svg-icon-aquafon {
    font-size:(50/10)*1rem;
    width:(125/50)*1em;
}
.svg-icon-becloud {
    font-size:(65/10)*1rem;
    width:(75/65)*1em;
}
.svg-icon-century {
    font-size:(61/10)*1rem;
    width:(67/61)*1em;
}
.svg-icon-doc {
    font-size:(46.2/10)*1rem;
    width:(34.2/46.2)*1em;
}
.svg-icon-freshtel {
    font-size:(68/10)*1rem;
    width:(68/68)*1em;
}
.svg-icon-gazprom {
    font-size:(60/10)*1rem;
    width:(130/60)*1em;
}
.svg-icon-geocell {
    font-size:(40/10)*1rem;
    width:(145/40)*1em;
}
.svg-icon-kyivstar {
    font-size:(40/10)*1rem;
    width:(156/40)*1em;
}
.svg-icon-megacom {
    font-size:(18/10)*1rem;
    width:(142/18)*1em;
}
.svg-icon-megafon {
    font-size:(29/10)*1rem;
    width:(155/29)*1em;
}
.svg-icon-more-documents {
    font-size:(101/10)*1rem;
    width:(65.4/101)*1em;
}
.svg-icon-motiv {
    font-size:(30/10)*1rem;
    width:(125/30)*1em;
}
.svg-icon-mts {
    font-size:(35/10)*1rem;
    width:(96/35)*1em;
}
.svg-icon-play-video {
    font-size:(70/10)*1rem;
    width:(70/70)*1em;
}
.svg-icon-rostelecom {
    font-size:(36/10)*1rem;
    width:(145/36)*1em;
}
.svg-icon-sumtel {
    font-size:(57/10)*1rem;
    width:(177/57)*1em;
}
.svg-icon-turkcell {
    font-size:(38/10)*1rem;
    width:(138/38)*1em;
}
.svg-icon-uztelecom {
    font-size:(55/10)*1rem;
    width:(148/55)*1em;
}
.svg-icon-vainakh {
    font-size:(44/10)*1rem;
    width:(123/44)*1em;
}
.svg-icon-yota {
    font-size:(49/10)*1rem;
    width:(31/49)*1em;
}
