include bemto/bemto
include meta/_head

include ../images/sprite.svg

+b.video-banner
    +b.backgound-video
        +e.wrapper
            +e.video(id="ytplayer")

    .container
        +e.container
            +e.title о компании
            +e.info «Петер-Сервис» - ведущая российская компания в сфере разработки, внедрения и обслуживания программного обеспечения для телекоммуникационной отрасли. Портфель предложений содержит решения для поддержки бизнес-процессов любых операторов мобильной и фиксированной связи.
            +e.show-video
                +e.play-icon.js-show-video
                    svg.svg-icon.svg-icon-play-video
                        use(xlink:href='#play-video')
                +e.play-text.js-show-video Смотреть видео

+b.advantages
    .container
        +e.container
            +e.title миссия компании
            +e.info Содействовать развитию бизнеса провайдеров телекоммуникационных услуг в эпоху цифровой экономики, разрабатывая и предоставляя лучшие продукты, обеспечивая надёжный сервис и выстраиваядолгосрочные партнерские отношения
        .advantages-list
            .row-flex.row-flex_wrap.row-flex_center
                +b.advantage_first
                    +e.icon-wrapper
                        +e.icon.SVG.svg-icon.svg-icon-advantage1
                            use(xlink:href='#advantage1')
                    +e.info Более 120 успешных проектов для 50 операторов связи
                +b.advantage_second
                    +e.icon-wrapper
                        +e.icon.SVG.svg-icon.svg-icon-advantage2
                            use(xlink:href='#advantage2')
                    +e.info 130 млн абонентов в одном решении
                +b.advantage_third
                    +e.icon-wrapper
                        +e.icon.SVG.svg-icon.svg-icon-advantage3
                            use(xlink:href='#advantage3')
                    +e.info Оперативная техническая поддержка 24/7
                +b.advantage_fourth
                    +e.icon-wrapper
                        +e.icon.SVG.svg-icon.svg-icon-advantage4
                            use(xlink:href='#advantage4')
                    +e.info Универсальный портфель продуктов
                +b.advantage_fifth
                    +e.icon-wrapper
                        +e.icon.SVG.svg-icon.svg-icon-advantage5
                            use(xlink:href='#advantage5')
                    +e.info Гибкость в решении самых сложных задач
        +e.materials
            .row-flex
                    +b.more-button.js-show-material-popup
                        +e.icon-wrapper
                            +e.icon.SVG.svg-icon.svg-icon-more-documents
                                use(xlink:href='#more-documents')
                        +e.title Дополнительные материалы
            +b.materials-popup.js-material-popup
                +e.close.js-close-material-popup
                +e.head
                    +e.icon.SVG.svg-icon.svg-icon-more-documents
                        use(xlink:href='#more-documents')
                    +e.title Дополнительные материалы
                +e.body
                    +e.small-col
                        +e.item
                            +e.doc-icon.SVG.svg-icon.svg-icon-doc
                                use(xlink:href='#doc')
                            +e.text Сертификат EcoVadis
                        +e.item
                            +e.doc-icon.SVG.svg-icon.svg-icon-doc
                                use(xlink:href='#doc')
                            +e.text Сертификат EcoVadis
                        +e.item
                            +e.doc-icon.SVG.svg-icon.svg-icon-doc
                                use(xlink:href='#doc')
                            +e.text Сертификат EcoVadis
                    +e.small-col
                        +e.item
                            +e.doc-icon.SVG.svg-icon.svg-icon-doc
                                use(xlink:href='#doc')
                            +e.text Сертификат EcoVadis
                        +e.item
                            +e.doc-icon.SVG.svg-icon.svg-icon-doc
                                use(xlink:href='#doc')
                            +e.text Сертификат EcoVadis
                    +e.big-col
                        +b.brochure
                            +e.img(src='/images/brochure.jpg')
                            +e.content
                                +e.text Брошюра о компании «Петер-Сервис»: продукты, решения и услуги
                                +e.link(href='#') Скачать pdf
+b.suppliers
    .container
        +e.title Глобальный поставщик крупнейших операторов связи
        +e.info Мы создаем сложное программное обеспечение, используя современную систему управления проектами и передовые практики мирового рынка ИТ. Мы уделяем особое внимание эффективной работе с партнерами и клиентами, выстраивая долгосрочные отношения и проявляя гибкость и индивидуальный подход к каждому заказчику.
        +b.brands-list
            +e.row
                +e.item 
                    svg.svg-icon.js-brand-item.svg-icon-geocell
                        use(xlink:href='#geocell')
                    +e.popup В Киеве работает офис компании «Петер-Сервис Украина», который обеспечивает внедрение и техническую поддержку наших решений для клиентов на Украине, а также в других странах (в Молдавии, Грузии, на Северном Кипре).
                        +e.popup-link(href="#") На сайт компании
                +e.item
                    svg.svg-icon.js-brand-item.svg-icon-megafon
                        use(xlink:href='#megafon')
                    +e.popup В Киеве работает офис компании «Петер-Сервис Украина», который обеспечивает внедрение и техническую поддержку наших решений для клиентов на Украине, а также в других странах (в Молдавии, Грузии, на Северном Кипре).
                        +e.popup-link(href="#") На сайт компании
                +e.item 
                    svg.svg-icon.js-brand-item.svg-icon-turkcell
                        use(xlink:href='#turkcell')
                    +e.popup В Киеве работает офис компании «Петер-Сервис Украина», который обеспечивает внедрение и техническую поддержку наших решений для клиентов на Украине, а также в других странах (в Молдавии, Грузии, на Северном Кипре).
                        +e.popup-link(href="#") На сайт компании
                +e.item 
                    svg.svg-icon.js-brand-item.svg-icon-gazprom
                        use(xlink:href='#gazprom')
                    +e.popup В Киеве работает офис компании «Петер-Сервис Украина», который обеспечивает внедрение и техническую поддержку наших решений для клиентов на Украине, а также в других странах (в Молдавии, Грузии, на Северном Кипре).
                        +e.popup-link(href="#") На сайт компании
                +e.item 
                    svg.svg-icon.js-brand-item.svg-icon-kyivstar
                        use(xlink:href='#kyivstar')
                    +e.popup В Киеве работает офис компании «Петер-Сервис Украина», который обеспечивает внедрение и техническую поддержку наших решений для клиентов на Украине, а также в других странах (в Молдавии, Грузии, на Северном Кипре).
                        +e.popup-link(href="#") На сайт компании
            +e.row
                +e.item 
                    svg.svg-icon.js-brand-item.svg-icon-yota
                        use(xlink:href='#yota')
                    +e.popup В Киеве работает офис компании «Петер-Сервис Украина», который обеспечивает внедрение и техническую поддержку наших решений для клиентов на Украине, а также в других странах (в Молдавии, Грузии, на Северном Кипре).
                        +e.popup-link(href="#") На сайт компании
                +e.item 
                    svg.svg-icon.js-brand-item.svg-icon-becloud
                        use(xlink:href='#becloud')
                    +e.popup В Киеве работает офис компании «Петер-Сервис Украина», который обеспечивает внедрение и техническую поддержку наших решений для клиентов на Украине, а также в других странах (в Молдавии, Грузии, на Северном Кипре).
                        +e.popup-link(href="#") На сайт компании
                +e.item 
                    svg.svg-icon.js-brand-item.svg-icon-aquafon
                        use(xlink:href='#aquafon')
                    +e.popup В Киеве работает офис компании «Петер-Сервис Украина», который обеспечивает внедрение и техническую поддержку наших решений для клиентов на Украине, а также в других странах (в Молдавии, Грузии, на Северном Кипре).
                        +e.popup-link(href="#") На сайт компании
                +e.item 
                    svg.svg-icon.js-brand-item.svg-icon-mts
                        use(xlink:href='#mts')
                    +e.popup В Киеве работает офис компании «Петер-Сервис Украина», который обеспечивает внедрение и техническую поддержку наших решений для клиентов на Украине, а также в других странах (в Молдавии, Грузии, на Северном Кипре).
                        +e.popup-link(href="#") На сайт компании
                +e.item 
                    svg.svg-icon.js-brand-item.svg-icon-century
                        use(xlink:href='#century')
                    +e.popup В Киеве работает офис компании «Петер-Сервис Украина», который обеспечивает внедрение и техническую поддержку наших решений для клиентов на Украине, а также в других странах (в Молдавии, Грузии, на Северном Кипре).
                        +e.popup-link(href="#") На сайт компании
                +e.item 
                    svg.svg-icon.js-brand-item.svg-icon-vainakh
                        use(xlink:href='#vainakh')
                    +e.popup В Киеве работает офис компании «Петер-Сервис Украина», который обеспечивает внедрение и техническую поддержку наших решений для клиентов на Украине, а также в других странах (в Молдавии, Грузии, на Северном Кипре).
                        +e.popup-link(href="#") На сайт компании
            +e.row
                +e.item 
                    svg.svg-icon.js-brand-item.svg-icon-motiv
                        use(xlink:href='#motiv')
                    +e.popup В Киеве работает офис компании «Петер-Сервис Украина», который обеспечивает внедрение и техническую поддержку наших решений для клиентов на Украине, а также в других странах (в Молдавии, Грузии, на Северном Кипре).
                        +e.popup-link(href="#") На сайт компании
                +e.item 
                    svg.svg-icon.js-brand-item.svg-icon-freshtel
                        use(xlink:href='#freshtel')
                    +e.popup В Киеве работает офис компании «Петер-Сервис Украина», который обеспечивает внедрение и техническую поддержку наших решений для клиентов на Украине, а также в других странах (в Молдавии, Грузии, на Северном Кипре).
                        +e.popup-link(href="#") На сайт компании
                +e.item 
                    svg.svg-icon.js-brand-item.svg-icon-uztelecom
                        use(xlink:href='#uztelecom')
                    +e.popup В Киеве работает офис компании «Петер-Сервис Украина», который обеспечивает внедрение и техническую поддержку наших решений для клиентов на Украине, а также в других странах (в Молдавии, Грузии, на Северном Кипре).
                        +e.popup-link(href="#") На сайт компании
                +e.item 
                    svg.svg-icon.js-brand-item.svg-icon-gazprom
                        use(xlink:href='#gazprom')
                    +e.popup В Киеве работает офис компании «Петер-Сервис Украина», который обеспечивает внедрение и техническую поддержку наших решений для клиентов на Украине, а также в других странах (в Молдавии, Грузии, на Северном Кипре).
                        +e.popup-link(href="#") На сайт компании
            +e.row
                +e.item 
                    svg.svg-icon.js-brand-item.svg-icon-megacom
                        use(xlink:href='#megacom')
                    +e.popup В Киеве работает офис компании «Петер-Сервис Украина», который обеспечивает внедрение и техническую поддержку наших решений для клиентов на Украине, а также в других странах (в Молдавии, Грузии, на Северном Кипре).
                        +e.popup-link(href="#") На сайт компании
                +e.item 
                    svg.svg-icon.js-brand-item.svg-icon-sumtel
                        use(xlink:href='#sumtel')
                    +e.popup В Киеве работает офис компании «Петер-Сервис Украина», который обеспечивает внедрение и техническую поддержку наших решений для клиентов на Украине, а также в других странах (в Молдавии, Грузии, на Северном Кипре).
                        +e.popup-link(href="#") На сайт компании

+b.companies-banner
    .container
        +b.companies
            +e.title Филиалы и дочерние компании
            +e.info
                +e.info-col
                    +e.P.info-text Головной офис «Петер-Сервис» расположен в Санкт-Петербурге. Здесь сосредоточены основные ресурсы компании по разработке и обслуживанию программных продуктов.
                    +e.P.info-text Филиалы компании открыты в Москве, Краснодаре, Екатеринбурге, Новосибирске, Самаре, Владивостоке.
                    +e.P.info-text Работой над новыми услугами и инновационными технологиями занимается лаборатория разработки
                        +e.link(href="#")  «Петер-Сервис РнД» (Москва)
                        |  - постоянный резидент центра «Сколково».
                +e.info-col
                    +e.P.info-text В Киеве работает офис компании
                        +e.link(href="#")  «Петер-Сервис Украина»
                        | , который обеспечивает внедрение и техническую поддержку наших решений для клиентов на Украине, а также в других странах (в Молдавии, Грузии, на Северном Кипре).
                    +e.P.info-text В 2016 на базе АО «Петер-Сервис Спецтехнологии» был запущен оператор фискальных данных
                        +e.link(href="#")  OFD.ru
                        | , который оказывает услуги передачи, обработки и хранения данных от онлайн-касс в Федеральную налоговую службу.
            +b.button
                +e.text Смотреть на карте
+b.company-history
    .container
        +e.title История компании
    +b.history-slider
        .swiper-pagination
        .container
            +e.container.swiper-container.js-history-slider
                +e.wrapper.swiper-wrapper
                    +e.slide.swiper-slide
                        +e.year 2016
                        +e.body
                            +e.img-wrapper
                                +e.img(src="../images/slider/2013.png")
                            +e.text В рамках трансформации BSS «МегаФон» развернута отдельная биллинговая площадка Greenfield, созданная с применением новейших решений «Петер-Сервис». На базе подразделения «Петер-Сервис Спецтехнологии» запущен оператор фискальных данных OFD.ru. В «Ростелекоме» завершен проект в области Big Data по построению аналитического хранилища данных. Выполнен перевод всех абонентов оператора Kuzey Kıbrıs Turkcell на конвергентный биллинг «Петер-Сервис». Выпущено платформенное решение для Интернета вещей. Разработана опция «Мобильная коммерция», упрощающая интеграцию операторских и банковских сервисов.
                    +e.slide.swiper-slide
                        +e.year 2015
                        +e.body
                            +e.img-wrapper
                                +e.img(src="../images/slider/2013.png")
                            +e.text В рамках трансформации BSS «МегаФон» развернута отдельная биллинговая площадка Greenfield, созданная с применением новейших решений «Петер-Сервис». На базе подразделения «Петер-Сервис Спецтехнологии» запущен оператор фискальных данных OFD.ru. В «Ростелекоме» завершен проект в области Big Data по построению аналитического хранилища данных. Выполнен перевод всех абонентов оператора Kuzey Kıbrıs Turkcell на конвергентный биллинг «Петер-Сервис». Выпущено платформенное решение для Интернета вещей. Разработана опция «Мобильная коммерция», упрощающая интеграцию операторских и банковских сервисов.
                    +e.slide.swiper-slide
                        +e.year 2014
                        +e.body
                            +e.img-wrapper
                                +e.img(src="../images/slider/2013.png")
                            +e.text В рамках трансформации BSS «МегаФон» развернута отдельная биллинговая площадка Greenfield, созданная с применением новейших решений «Петер-Сервис». На базе подразделения «Петер-Сервис Спецтехнологии» запущен оператор фискальных данных OFD.ru. В «Ростелекоме» завершен проект в области Big Data по построению аналитического хранилища данных. Выполнен перевод всех абонентов оператора Kuzey Kıbrıs Turkcell на конвергентный биллинг «Петер-Сервис». Выпущено платформенное решение для Интернета вещей. Разработана опция «Мобильная коммерция», упрощающая интеграцию операторских и банковских сервисов.
                    +e.slide.swiper-slide
                        +e.year 2013
                        +e.body
                            +e.img-wrapper
                                +e.img(src="../images/slider/2013.png")
                            +e.text В рамках трансформации BSS «МегаФон» развернута отдельная биллинговая площадка Greenfield, созданная с применением новейших решений «Петер-Сервис». На базе подразделения «Петер-Сервис Спецтехнологии» запущен оператор фискальных данных OFD.ru. В «Ростелекоме» завершен проект в области Big Data по построению аналитического хранилища данных. Выполнен перевод всех абонентов оператора Kuzey Kıbrıs Turkcell на конвергентный биллинг «Петер-Сервис». Выпущено платформенное решение для Интернета вещей. Разработана опция «Мобильная коммерция», упрощающая интеграцию операторских и банковских сервисов
                .swiper-button-prev
                .swiper-button-next

+b.video-popup.js-video-popup
    +e.close.js-close-video
    +e.video.IFRAME(id="full-scrn-video" src="//www.youtube.com/embed/J1X6bM2Ttcw?rel=0&enablejsapi=1" frameborder="0" allowfullscreen)

include meta/_scripts
