include bemto/bemto
include meta/_head

include ../images/sprite.svg

+b.video-banner
    +b.backgound-video
        +e.wrapper
            +e.video(id="ytplayer")

    .container
        +e.container
            +e.title о&nbsp;компании
            +e.info &laquo;Петер-Сервис&raquo;&nbsp;&mdash; ведущая российская компания в&nbsp;сфере разработки, внедрения и&nbsp;обслуживания программного обеспечения для телекоммуникационной отрасли. Портфель предложений содержит решения для поддержки бизнес-процессов любых операторов мобильной и&nbsp;фиксированной связи.
            +e.show-video
                +e.play-icon.js-show-video
                    svg.svg-icon.svg-icon-play-video
                        use(xlink:href='#play-video')
                +e.play-text.js-show-video Смотреть видео

+b.advantages
    .container
        +e.container
            +e.title миссия компании
            +e.info Содействовать развитию бизнеса провайдеров телекоммуникационных услуг в&nbsp;эпоху цифровой экономики, разрабатывая и&nbsp;предоставляя лучшие продукты, обеспечивая надёжный сервис и&nbsp;выстраиваядолгосрочные партнерские отношения
        .advantages-list
            .row-flex.row-flex_wrap.row-flex_center
                +b.advantage_first
                    +e.icon-wrapper
                        +e.icon.SVG.svg-icon.svg-icon-advantage1
                            use(xlink:href='#advantage1')
                    +e.info Более 120 успешных проектов для 50&nbsp;операторов связи
                +b.advantage_second
                    +e.icon-wrapper
                        +e.icon.SVG.svg-icon.svg-icon-advantage2
                            use(xlink:href='#advantage2')
                    +e.info 130 млн абонентов в&nbsp;одном решении
                +b.advantage_third
                    +e.icon-wrapper
                        +e.icon.SVG.svg-icon.svg-icon-advantage3
                            use(xlink:href='#advantage3')
                    +e.info Оперативная техническая поддержка 24/7
                +b.advantage_fourth
                    +e.icon-wrapper
                        +e.icon.SVG.svg-icon.svg-icon-advantage4
                            use(xlink:href='#advantage4')
                    +e.info Универсальный портфель продуктов
                +b.advantage_fifth
                    +e.icon-wrapper
                        +e.icon.SVG.svg-icon.svg-icon-advantage5
                            use(xlink:href='#advantage5')
                    +e.info Гибкость в&nbsp;решении самых сложных задач
        +e.materials
            .row-flex
                    +b.more-button.js-show-material-popup
                        +e.icon-wrapper
                            +e.icon.SVG.svg-icon.svg-icon-more-documents
                                use(xlink:href='#more-documents')
                        +e.title Дополнительные материалы
            +b.materials-popup.js-material-popup
                +e.close.js-close-material-popup
                +e.head
                    +e.icon.SVG.svg-icon.svg-icon-more-documents
                        use(xlink:href='#more-documents')
                    +e.title Дополнительные материалы
                +e.body
                    +e.small-col
                        +e.item(href="#")
                            +e.doc-icon.SVG.svg-icon.svg-icon-doc
                                use(xlink:href='#doc')
                            +e.text Сертификат EcoVadis
                        +e.item(href="#")
                            +e.doc-icon.SVG.svg-icon.svg-icon-doc
                                use(xlink:href='#doc')
                            +e.text Сертификат EcoVadis
                        +e.item(href="#")
                            +e.doc-icon.SVG.svg-icon.svg-icon-doc
                                use(xlink:href='#doc')
                            +e.text Сертификат EcoVadis
                    +e.small-col
                        +e.item(href="#")
                            +e.doc-icon.SVG.svg-icon.svg-icon-doc
                                use(xlink:href='#doc')
                            +e.text Сертификат EcoVadis
                        +e.item(href="#")
                            +e.doc-icon.SVG.svg-icon.svg-icon-doc
                                use(xlink:href='#doc')
                            +e.text Сертификат EcoVadis
                    +e.big-col
                        +b.brochure
                            +e.img(src='/images/brochure.jpg')
                            +e.content
                                +e.text Брошюра о&nbsp;компании &laquo;Петер-Сервис&raquo;: продукты, решения и&nbsp;услуги
                                +e.link(href='#') Скачать pdf
+b.suppliers
    .container
        +e.title Глобальный поставщик крупнейших операторов связи
        +e.info Мы&nbsp;создаем сложное программное обеспечение, используя современную систему управления проектами и&nbsp;передовые практики мирового рынка ИТ. Мы&nbsp;уделяем особое внимание эффективной работе с&nbsp;партнерами и&nbsp;клиентами, выстраивая долгосрочные отношения и&nbsp;проявляя гибкость и&nbsp;индивидуальный подход к&nbsp;каждому заказчику.
        +b.brands-list
            +e.row
                +e.item
                    +e.icon-wrapper.js-brand-item
                        svg.svg-icon.svg-icon-geocell
                            use(xlink:href='#geocell')
                        +e.popup В&nbsp;Киеве работает офис компании &laquo;Петер-Сервис Украина&raquo;, который обеспечивает внедрение и&nbsp;техническую поддержку наших решений для клиентов на&nbsp;Украине, а&nbsp;также в&nbsp;других странах (в&nbsp;Молдавии, Грузии, на&nbsp;Северном Кипре).
                            +e.popup-link(href="#") На&nbsp;сайт компании
                +e.item
                    +e.icon-wrapper.js-brand-item
                        svg.svg-icon.svg-icon-megafon
                            use(xlink:href='#megafon')
                        +e.popup В&nbsp;Киеве работает офис компании &laquo;Петер-Сервис Украина&raquo;, который обеспечивает внедрение и&nbsp;техническую поддержку наших решений для клиентов на&nbsp;Украине, а&nbsp;также в&nbsp;других странах (в&nbsp;Молдавии, Грузии, на&nbsp;Северном Кипре).
                            +e.popup-link(href="#") На&nbsp;сайт компании
                +e.item
                    +e.icon-wrapper.js-brand-item
                        svg.svg-icon.svg-icon-turkcell
                            use(xlink:href='#turkcell')
                        +e.popup В&nbsp;Киеве работает офис компании &laquo;Петер-Сервис Украина&raquo;, который обеспечивает внедрение и&nbsp;техническую поддержку наших решений для клиентов на&nbsp;Украине, а&nbsp;также в&nbsp;других странах (в&nbsp;Молдавии, Грузии, на&nbsp;Северном Кипре).
                            +e.popup-link(href="#") На&nbsp;сайт компании
                +e.item
                    +e.icon-wrapper.js-brand-item
                        svg.svg-icon.svg-icon-gazprom
                            use(xlink:href='#gazprom')
                        +e.popup В&nbsp;Киеве работает офис компании &laquo;Петер-Сервис Украина&raquo;, который обеспечивает внедрение и&nbsp;техническую поддержку наших решений для клиентов на&nbsp;Украине, а&nbsp;также в&nbsp;других странах (в&nbsp;Молдавии, Грузии, на&nbsp;Северном Кипре).
                            +e.popup-link(href="#") На&nbsp;сайт компании
                +e.item
                    +e.icon-wrapper.js-brand-item
                        svg.svg-icon.svg-icon-kyivstar
                            use(xlink:href='#kyivstar')
                        +e.popup В&nbsp;Киеве работает офис компании &laquo;Петер-Сервис Украина&raquo;, который обеспечивает внедрение и&nbsp;техническую поддержку наших решений для клиентов на&nbsp;Украине, а&nbsp;также в&nbsp;других странах (в&nbsp;Молдавии, Грузии, на&nbsp;Северном Кипре).
                            +e.popup-link(href="#") На&nbsp;сайт компании
            +e.row
                +e.item
                    +e.icon-wrapper.js-brand-item
                        svg.svg-icon.svg-icon-yota
                            use(xlink:href='#yota')
                        +e.popup В&nbsp;Киеве работает офис компании &laquo;Петер-Сервис Украина&raquo;, который обеспечивает внедрение и&nbsp;техническую поддержку наших решений для клиентов на&nbsp;Украине, а&nbsp;также в&nbsp;других странах (в&nbsp;Молдавии, Грузии, на&nbsp;Северном Кипре).
                            +e.popup-link(href="#") На&nbsp;сайт компании
                +e.item
                    +e.icon-wrapper.js-brand-item
                        svg.svg-icon.svg-icon-becloud
                            use(xlink:href='#becloud')
                        +e.popup В&nbsp;Киеве работает офис компании &laquo;Петер-Сервис Украина&raquo;, который обеспечивает внедрение и&nbsp;техническую поддержку наших решений для клиентов на&nbsp;Украине, а&nbsp;также в&nbsp;других странах (в&nbsp;Молдавии, Грузии, на&nbsp;Северном Кипре).
                            +e.popup-link(href="#") На&nbsp;сайт компании
                +e.item
                    +e.icon-wrapper.js-brand-item
                        svg.svg-icon.svg-icon-aquafon
                            use(xlink:href='#aquafon')
                        +e.popup В&nbsp;Киеве работает офис компании &laquo;Петер-Сервис Украина&raquo;, который обеспечивает внедрение и&nbsp;техническую поддержку наших решений для клиентов на&nbsp;Украине, а&nbsp;также в&nbsp;других странах (в&nbsp;Молдавии, Грузии, на&nbsp;Северном Кипре).
                            +e.popup-link(href="#") На&nbsp;сайт компании
                +e.item
                    +e.icon-wrapper.js-brand-item
                        svg.svg-icon.svg-icon-mts
                            use(xlink:href='#mts')
                        +e.popup В&nbsp;Киеве работает офис компании &laquo;Петер-Сервис Украина&raquo;, который обеспечивает внедрение и&nbsp;техническую поддержку наших решений для клиентов на&nbsp;Украине, а&nbsp;также в&nbsp;других странах (в&nbsp;Молдавии, Грузии, на&nbsp;Северном Кипре).
                            +e.popup-link(href="#") На&nbsp;сайт компании
                +e.item
                    +e.icon-wrapper.js-brand-item
                        svg.svg-icon.svg-icon-century
                            use(xlink:href='#century')
                        +e.popup В&nbsp;Киеве работает офис компании &laquo;Петер-Сервис Украина&raquo;, который обеспечивает внедрение и&nbsp;техническую поддержку наших решений для клиентов на&nbsp;Украине, а&nbsp;также в&nbsp;других странах (в&nbsp;Молдавии, Грузии, на&nbsp;Северном Кипре).
                            +e.popup-link(href="#") На&nbsp;сайт компании
                +e.item
                    +e.icon-wrapper.js-brand-item
                        svg.svg-icon.svg-icon-vainakh
                            use(xlink:href='#vainakh')
                        +e.popup В&nbsp;Киеве работает офис компании &laquo;Петер-Сервис Украина&raquo;, который обеспечивает внедрение и&nbsp;техническую поддержку наших решений для клиентов на&nbsp;Украине, а&nbsp;также в&nbsp;других странах (в&nbsp;Молдавии, Грузии, на&nbsp;Северном Кипре).
                            +e.popup-link(href="#") На&nbsp;сайт компании
            +e.row
                +e.item
                    +e.icon-wrapper.js-brand-item
                        svg.svg-icon.svg-icon-motiv
                            use(xlink:href='#motiv')
                        +e.popup В&nbsp;Киеве работает офис компании &laquo;Петер-Сервис Украина&raquo;, который обеспечивает внедрение и&nbsp;техническую поддержку наших решений для клиентов на&nbsp;Украине, а&nbsp;также в&nbsp;других странах (в&nbsp;Молдавии, Грузии, на&nbsp;Северном Кипре).
                            +e.popup-link(href="#") На&nbsp;сайт компании
                +e.item
                    +e.icon-wrapper.js-brand-item
                        svg.svg-icon.svg-icon-freshtel
                            use(xlink:href='#freshtel')
                        +e.popup В&nbsp;Киеве работает офис компании &laquo;Петер-Сервис Украина&raquo;, который обеспечивает внедрение и&nbsp;техническую поддержку наших решений для клиентов на&nbsp;Украине, а&nbsp;также в&nbsp;других странах (в&nbsp;Молдавии, Грузии, на&nbsp;Северном Кипре).
                            +e.popup-link(href="#") На&nbsp;сайт компании
                +e.item
                    +e.icon-wrapper.js-brand-item
                        svg.svg-icon.svg-icon-uztelecom
                            use(xlink:href='#uztelecom')
                        +e.popup В&nbsp;Киеве работает офис компании &laquo;Петер-Сервис Украина&raquo;, который обеспечивает внедрение и&nbsp;техническую поддержку наших решений для клиентов на&nbsp;Украине, а&nbsp;также в&nbsp;других странах (в&nbsp;Молдавии, Грузии, на&nbsp;Северном Кипре).
                            +e.popup-link(href="#") На&nbsp;сайт компании
                +e.item
                    +e.icon-wrapper.js-brand-item
                        svg.svg-icon.svg-icon-gazprom
                            use(xlink:href='#gazprom')
                        +e.popup В&nbsp;Киеве работает офис компании &laquo;Петер-Сервис Украина&raquo;, который обеспечивает внедрение и&nbsp;техническую поддержку наших решений для клиентов на&nbsp;Украине, а&nbsp;также в&nbsp;других странах (в&nbsp;Молдавии, Грузии, на&nbsp;Северном Кипре).
                            +e.popup-link(href="#") На&nbsp;сайт компании
            +e.row
                +e.item
                    +e.icon-wrapper.js-brand-item
                        svg.svg-icon.svg-icon-megacom
                            use(xlink:href='#megacom')
                        +e.popup В&nbsp;Киеве работает офис компании &laquo;Петер-Сервис Украина&raquo;, который обеспечивает внедрение и&nbsp;техническую поддержку наших решений для клиентов на&nbsp;Украине, а&nbsp;также в&nbsp;других странах (в&nbsp;Молдавии, Грузии, на&nbsp;Северном Кипре).
                            +e.popup-link(href="#") На&nbsp;сайт компании
                +e.item
                    +e.icon-wrapper.js-brand-item
                        svg.svg-icon.svg-icon-sumtel
                            use(xlink:href='#sumtel')
                        +e.popup В&nbsp;Киеве работает офис компании &laquo;Петер-Сервис Украина&raquo;, который обеспечивает внедрение и&nbsp;техническую поддержку наших решений для клиентов на&nbsp;Украине, а&nbsp;также в&nbsp;других странах (в&nbsp;Молдавии, Грузии, на&nbsp;Северном Кипре).
                            +e.popup-link(href="#") На&nbsp;сайт компании

+b.companies-banner
    .container
        +b.companies
            +e.title Филиалы и&nbsp;дочерние компании
            +e.info
                +e.info-col
                    +e.P.info-text
                        +e.main-text.SPAN Головной офис &laquo;Петер-Сервис&raquo;
                        | расположен в&nbsp;Санкт-Петербурге. Здесь сосредоточены основные ресурсы компании по&nbsp;разработке и&nbsp;обслуживанию программных продуктов.
                    +e.P.info-text Филиалы компании открыты в&nbsp;Москве, Краснодаре, Екатеринбурге, Новосибирске, Самаре, Владивостоке.
                    +e.P.info-text Работой над новыми услугами и&nbsp;инновационными технологиями занимается лаборатория разработки
                        +e.link(href="#")  &laquo;Петер-Сервис РнД&raquo; (Москва)
                        |  &mdash;&nbsp;постоянный резидент центра &laquo;Сколково&raquo;.
                +e.info-col
                    +e.P.info-text В&nbsp;Киеве работает офис компании
                        +e.link(href="#")  &laquo;Петер-Сервис Украина&raquo;
                        | , который обеспечивает внедрение и&nbsp;техническую поддержку наших решений для клиентов на&nbsp;Украине, а&nbsp;также в&nbsp;других странах (в&nbsp;Молдавии, Грузии, на&nbsp;Северном Кипре).
                    +e.P.info-text В&nbsp;2016&nbsp;на базе АО&nbsp;&laquo;Петер-Сервис Спецтехнологии&raquo; был запущен оператор фискальных данных
                        +e.link(href="#")  OFD.ru
                        | &nbsp;, который оказывает услуги передачи, обработки и&nbsp;хранения данных от&nbsp;онлайн-касс в&nbsp;Федеральную налоговую службу.
            +b.button
                +e.text Смотреть на&nbsp;карте
+b.company-history
    .container
        +e.title История компании
    +b.history-slider
        .swiper-pagination
        .container
            +e.container.swiper-container.js-history-slider
                +e.wrapper.swiper-wrapper
                    +e.slide.swiper-slide
                        +e.year 2016
                        +e.body
                            +e.img-wrapper
                                +e.img(src="../images/slider/2013.png")
                            +e.text В&nbsp;рамках трансформации BSS &laquo;МегаФон&raquo; развернута отдельная биллинговая площадка Greenfield, созданная с&nbsp;применением новейших решений &laquo;Петер-Сервис&raquo;. На&nbsp;базе подразделения &laquo;Петер-Сервис Спецтехнологии&raquo; запущен оператор фискальных данных OFD.ru. В&nbsp;&laquo;Ростелекоме&raquo; завершен проект в&nbsp;области Big Data по&nbsp;построению аналитического хранилища данных. Выполнен перевод всех абонентов оператора Kuzey Kıbrıs Turkcell на&nbsp;конвергентный биллинг &laquo;Петер-Сервис&raquo;. Выпущено платформенное решение для Интернета вещей. Разработана опция &laquo;Мобильная коммерция&raquo;, упрощающая интеграцию операторских и&nbsp;банковских сервисов.
                    +e.slide.swiper-slide
                        +e.year 2015
                        +e.body
                            +e.img-wrapper
                                +e.img(src="../images/slider/2013.png")
                            +e.text В&nbsp;рамках трансформации BSS &laquo;МегаФон&raquo; развернута отдельная биллинговая площадка Greenfield, созданная с&nbsp;применением новейших решений &laquo;Петер-Сервис&raquo;. На&nbsp;базе подразделения &laquo;Петер-Сервис Спецтехнологии&raquo; запущен оператор фискальных данных OFD.ru. В&nbsp;&laquo;Ростелекоме&raquo; завершен проект в&nbsp;области Big Data по&nbsp;построению аналитического хранилища данных. Выполнен перевод всех абонентов оператора Kuzey Kıbrıs Turkcell на&nbsp;конвергентный биллинг &laquo;Петер-Сервис&raquo;. Выпущено платформенное решение для Интернета вещей. Разработана опция &laquo;Мобильная коммерция&raquo;, упрощающая интеграцию операторских и&nbsp;банковских сервисов.
                    +e.slide.swiper-slide
                        +e.year 2014
                        +e.body
                            +e.img-wrapper
                                +e.img(src="../images/slider/2013.png")
                            +e.text В&nbsp;рамках трансформации BSS &laquo;МегаФон&raquo; развернута отдельная биллинговая площадка Greenfield, созданная с&nbsp;применением новейших решений &laquo;Петер-Сервис&raquo;. На&nbsp;базе подразделения &laquo;Петер-Сервис Спецтехнологии&raquo; запущен оператор фискальных данных OFD.ru. В&nbsp;&laquo;Ростелекоме&raquo; завершен проект в&nbsp;области Big Data по&nbsp;построению аналитического хранилища данных. Выполнен перевод всех абонентов оператора Kuzey Kıbrıs Turkcell на&nbsp;конвергентный биллинг &laquo;Петер-Сервис&raquo;. Выпущено платформенное решение для Интернета вещей. Разработана опция &laquo;Мобильная коммерция&raquo;, упрощающая интеграцию операторских и&nbsp;банковских сервисов.
                    +e.slide.swiper-slide
                        +e.year 2013
                        +e.body
                            +e.img-wrapper
                                +e.img(src="../images/slider/2013.png")
                            +e.text В&nbsp;рамках трансформации BSS &laquo;МегаФон&raquo; развернута отдельная биллинговая площадка Greenfield, созданная с&nbsp;применением новейших решений &laquo;Петер-Сервис&raquo;. На&nbsp;базе подразделения &laquo;Петер-Сервис Спецтехнологии&raquo; запущен оператор фискальных данных OFD.ru. В&nbsp;&laquo;Ростелекоме&raquo; завершен проект в&nbsp;области Big Data по&nbsp;построению аналитического хранилища данных. Выполнен перевод всех абонентов оператора Kuzey Kıbrıs Turkcell на&nbsp;конвергентный биллинг &laquo;Петер-Сервис&raquo;. Выпущено платформенное решение для Интернета вещей. Разработана опция &laquo;Мобильная коммерция&raquo;, упрощающая интеграцию операторских и&nbsp;банковских сервисов.
                .swiper-button-prev
                .swiper-button-next

+b.video-popup.js-video-popup
    +e.close.js-close-video
    +e.video.IFRAME(id="full-scrn-video" src="//www.youtube.com/embed/J1X6bM2Ttcw?rel=0&enablejsapi=1" frameborder="0" allowfullscreen)

include meta/_scripts
